parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    tmpDir: var/cache/phpstan

    paths:
        - src

    bootstrapFiles:
        - bin/static-analyze-autoloader.php

    excludePaths:
        analyseAndScan:
            - src/log4php
    ignoreErrors:
        - identifier: missingType.generics

